.uploader-payslips {
  border: 1px solid var(--comp-color-gray);
  border-radius: 12px;
  padding: 8px 32px;
  font-weight: 500;
  line-height: 1.15;
  background-color: var(--color-white);
  cursor: pointer;

  &__input {
    display: none;
  }

  &:hover,
  &:focus {
    outline-width: 2px;
  }
}
