.uploader-documents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid currentColor;
  border-radius: 15px;
  padding: 8px 32px;
  min-width: 137px;
  min-height: 42px;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.15;
  text-align: center;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &__input {
    display: none;
  }

  &:hover,
  &:focus {
    outline-width: 2px;
  }
}
